.element{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 44px;
    grid-template-rows: 282px 1fr;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: opacity .5s;
}
.element:hover{
    opacity: 0.6;
}